pre {
    font-size: .86em;
    line-height: 1.5em;
    color: #333;
    background-color: #fff;
}

code {
    font-size: inherit;
    padding: 0;
    color: #333;
    background-color: transparent;
    text-shadow: none;
}

.example {
    margin: 40px 0 20px;
    padding: 0;
    border-width: 0;
    box-shadow: none;
}

.example pre {
    white-space: pre-line;
}

.example > div {
    margin-top: 10px;
}

.viz {
    font-family: monospace;
    font-size: .8em;
    display: block;
    margin-bottom: 6px;
    padding: 8px 15px;
    white-space: pre;
    border: 1px solid #c7c7c7;
}